.album-hot {
    background-color: black;
    color: white;
}

.album-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow-x: auto;
}

.album {
    position: relative;
    width: 25%;
}

.album img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.album p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    font-size: 12px;
}